body {
  background-color: #C2EFD6;
  background-image: url("https://i.pinimg.com/originals/64/5a/65/645a65e80ab15027480fb9db18b1ea97.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
}

/* Page Wrapper */

.page-wrapper {
  display: flex;
  height: 100%;
}

.sidebar {
  width: 200px;
  background-color: rgba(128, 0, 0, .60);
  border-right: 1px solid rgba(128, 0, 0, .60);
  box-shadow: 5px 0 15px #000;
}

.menu, .menu-item, .menu-sub, .menu-item-sub {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu, .menu-item {
  position: relative;
}

.menu-sub {
  display: none;
  /* position: absolute;
  top: -1px;
  right: -152px; */
  /* width: 200px; */
  background-color: rgba(128, 0, 0, .60);
  /* box-shadow: 5px 0 15px #000; */
}

.menu-sub .menu-item-sub {
  /* border-right: 1px dashed #eeb159; */
}

.menu-sub .menu-item-sub:first-child {
  /* border-top: 1px dashed #eeb159; */
}

.menu-item a {
  text-decoration: none;
  color: pink;
  display: block;
  padding: 10px 15px;
  border-bottom: 1px dashed #eeb159;
  cursor: pointer;
}

.menu-item a:hover {
  background-color: rgba(128, 0, 0, .80);
}

.menu-item a.expanded {
  background-color: rgba(128, 0, 0, .90);
  font-weight: 600;
}

.menu-item-icon {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="white" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" /></svg>');
  width: 16px;
  height: 16px;
  display: block;
  float: right;
  position: relative;
  top: 2px;
}

.menu-item-icon.expanded {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="white" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7" /></svg>');
}

.add-buyer, .add-mode, .add-type {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 470px;
}

/* Form */

.add-merchant {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 470px;
}

form {
  width: 250px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  background-color: rgba(255, 208, 20, .5);
  margin-top: 60px;
  box-shadow: 0px 0px 20px #000;
  height: 255;
}

.title {
  text-align: center;
  font-family: 'Rubik Moonrocks', cursive;
  color: maroon;
  font-size: 40px;
}

.row-add-buyer, .row-add-merchant, .row-add-mode, .row-add-type {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 10px;
}

.row:hover {
  background-color: rgba(255, 208, 20, .8);
}

input {
  width: 70%;
  border-radius: 5px;
  border: 0 none;
  background-color: white;
}

.row-submit input {
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: maroon;
  color: pink;
  font-weight: 500;
  letter-spacing: 1px;
  width: 100%;
  margin-top: 15px;
}

.row-submit input:hover {
  background-color: pink;
  color: maroon;
  cursor: pointer;
}
