body {
  background-color: #C2EFD6;
  background-image: url("https://i.pinimg.com/originals/64/5a/65/645a65e80ab15027480fb9db18b1ea97.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
}

/* Page Wrapper */

.page-wrapper {
  display: flex;
  height: 100%;
}

/* Sidebar */

.sidebar {
  width: 179px;
  background-color: rgba(128, 0, 0, .60);
  border-right: 1px solid rgba(128, 0, 0, .60);
  box-shadow: 5px 0 15px #000;
}

/* Menu */

.menu, .menu-item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item a {
  text-decoration: none;
  color: pink;
  display: block;
  padding: 10px 15px;
  border-bottom: 1px dashed #eeb159;
}

.menu-item a:hover {
  background-color: rgba(128, 0, 0, .80);
}

/* Form */

.add-buyer, .add-merchant, .add-mode, .add-type {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 470px;
}

form {
  width: 250px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  background-color: rgba(255, 208, 20, .5);
  margin-top: 60px;
  box-shadow: 0px 0px 20px #000;
  margin-bottom: 518;
  margin-inline: auto;
  justify-content: center;
}

.title {
  text-align: center;
  font-family: 'Rubik Moonrocks', cursive;
  color: maroon;
  font-size: 40px;
}

.row-add-buyer, .row-add-merchant, .row-add-mode, .row-add-type {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 10px;
}

.row:hover {
  background-color: rgba(255, 208, 20, .8);
}

input {
  width: 70%;
  border-radius: 5px;
  border: 0 none;
  background-color: white;
}

.row-submit input {
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: maroon;
  color: pink;
  font-weight: 500;
  letter-spacing: 1px;
  width: 100%;
  margin-top: 15px;
}

.row-submit input:hover {
  background-color: pink;
  color: maroon;
  cursor: pointer;
}
